* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

App {
  width: 550px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  padding: 20px 30px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.logo-img {
  width: 30px;
  height: 25px;
  align-self: center;
  margin-right: 5px;
}

.logo-section {
  display: flex;
}

.header-title {
  font-weight: 700;
  font-size: 20.7482px;
}

.header-text {
  font-size: 12px;
}
